::-webkit-scrollbar {
  width: 6px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}
body {
  background: black;
  font-family: courier;
  color: white;
  /* height: 5000px; */
}
nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
.scrol {
  height:3px;
}
.ler {
  transition: width 0.6s cubic-bezier(0.2, 0.6, 0.2, 1);
  background: white;
  height:100%;
  width: 0%;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
}
.colcon {
  display: flex;
  width: 100%;
  height: 100%;
}
.navb_cont {
  position: sticky;
  top: 75px;
  width: 20%;
  height: 500px;
  margin-top: 65px;
  padding-right: 40px;
  border-right: 1px solid rgba(255,255,255,0.5);
}
.navb_cont > * {
  margin-left: 10%;
}
.head {
  margin-bottom: 25%;
  margin-left: 10%;
  width: 60%;
  height: 50px;
  display: flex;
}
.nav {
  display: none;
}
.head:hover a .home_cont .back {
  transform: translate(14px);
  filter: none;
  display: block;
}
.home_cont {
  display: flex;
  align-center: center;
  text-decoration: none;
  width: 100%;
  height: 100%;
  font-size: 30px;
}
.back {
  display: none;
  transform: translate(30px);
  font-size: 30px;
  filter: invert(1);
  transition: all 0.6s cubic-bezier(0.2, 0.6, 0.2, 1);
}
svg {
  width: 30%;
}
.home_cont > * {
  height: 100%
}
.content {
  width: 80%;
}
.navbar {
  display: inline-block;
}
.sect {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
  cursor: pointer;
}
.filt {
  filter: brightness(0.35);
  transition: 0.4s cubic-bezier(0.2, 0.6, 0.2, 1);
}
.head {
  transition: all 1s cubic-bezier(0.2, 0.6, 0.2, 1);
}
.filt:hover{
  filter: brightness(1);
}
.filt:hover .line{
  border-radius: 0;
  width: 2px;
}
.filt:hover .name {
  margin-left: 25px;
}
.line {
  border-radius: 50%;
  width: 2px;
  background: white;
  transition: 0.38s cubic-bezier(0.2, 0.6, 0.2, 1);
}
.name {
  margin-left: 18px;
  font-size: 30px;
  transition: 0.38s cubic-bezier(0.2, 0.6, 0.2, 1);
}
.on {
  filter: brightness(1);
}
.on > .line {
  border-radius: 0;
  width: 2px;
}
.on > .name {
  margin-left: 25px;
}
.content > * {
  margin: 5%;
  margin-top: 0;
}

.headers {
  font-size: 50px;
  padding-top: 55px;
  margin-block-start :0;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: underline;
}
p {
 font: 500 25px courier;
 line-height: 40px;
}
.tech {
  font: bold 38px courier;
}
.code {
display: flex;
}
pre.lineNumbers {
  margin-right: 1em;
  text-align: left;
  /* opacity: 0.35; */
}
.hljs {
font: normal 19px courier;
}
.full {
  width: 90%;
}
.down_cont {
  display: flex;
}
.oneFile , .zip {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.zip {
  padding-left: 5%;
}
.oneFile {
  border-right: 1px solid rgba(255,255,255,0.5);
}
.down_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  background: black;
  color: white;
  cursor: pointer;
  font-size: 0;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  transition: 0.38s;
}
.down_btn:hover {
  font-size: 25px;
  width: 200px;
  justify-content:space-around;
  border-radius: 15px;
}
.nav {
  display: none;
}
@media screen and (max-width:991px) {
  nav {
    background: black;
    transition: 0.6s cubic-bezier(0.2, 0.6, 0.2, 1);
  }
  .nav {
    display: flex;
    display: flex;
    margin: 0;
  }
  svg {
    width: 100px;
  }
  .goback {
    margin-left: 20px;
  }
  .trans {
    transform: translateY(-50px);
  }
  .navb_cont {
    display: none;
  }
  .content {
    width: 100%;
  }
  .down_cont {
    flex-flow: column;
  }
  .zip , .oneFile {
    width: 100%;
  }
  .oneFile {
    border-right: none;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    padding-bottom: 40px;
  }
  .zip {
    padding: 0;
    margin-top: 20px;
  }
  .down_btn {
    font-size: 25px;
    width: 200px;
    justify-content:space-around;
    border-radius: 15px;
  }
}
