@font-face {
    font-family: 'Google Sans Text';
    font-style: normal;
    font-weight: 400 700;
    src: url(https://fonts.gstatic.com/s/googlesanstext/v21/5aUu9-KzpRiLCAt4Unrc-xIKmCU5qEp2iw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

* {
    line-height: 1.5;
}

body {
    color: #ccc;
    background: #090909;
    margin: 0;
}
.cont {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin: 50px 0;
}

.cont2 {
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.cool {
    display: flex;
    align-items: center;
    height:100%;
    width: 40%;
    /* max-width: 500px; */
}

.cont2 h1 {
    width:75%
}

.textCont {
    display: flex;
    width: 30%;
    align-items: center;
    flex-direction: column;
    height: 185px;
    overflow: hidden;
}

.textCont2 {
    display: flex;
    justify-content: space-around;
}

.welcome {
    font: lighter 50px "Google Sans Text";
    margin: 0;
}


.showNew {
    transition: 0.75s;
}

.hideOld {
    margin-top: -186px;
    filter: opacity(0);
    transition: 0.25s;
}

.headline {
    font: bold 42px "Google Sans Text";;
}

.algo {
    padding: 8%;
}


ol , ul {
    font: bold 23px "Google Sans Text";
}

.gist {
    min-width: 75%;
    max-width: 100%
}

.gist * {
    font-size: 14px
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover :not(span) {
    text-decoration: underline;
}


@media screen and (max-width: 1000px){
    .cont , .cont2 {
        flex-direction: column;
        height: auto;
    }
    .cont2  h1 {
        width: 100%
    }
    .textCont {
        margin: 100px 0;
        align-items: start;
        width: 100%;
        max-width: 500px;
    }
    #welcome {
        flex-grow: 1;
    }
    canvas {
        width: 85vw !important;
        height: 85vw !important;
    }
    .cool {
        width: 100%;
        margin-bottom: 100px;
    }
}