@font-face {
  font-family: 'Google Sans Text';
  font-style: normal;
  font-weight: 400 700;
  src: url(https://fonts.gstatic.com/s/googlesanstext/v21/5aUu9-KzpRiLCAt4Unrc-xIKmCU5qEp2iw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  font-size: 30px;
  font-family: 'Google Sans Text',century gothic, sans-serif;
  margin: 0;
  user-select: none;
}

.bigCont {
    display: flex;
    justify-content: space-around;
    width: 100%;
}


.panel {
  width: 45%;
  padding: 2%;
}

.cnvsCont {
  background-color: black;
}

.cnvsCont > * {
  top: 0;
  position: sticky;
}



.inputDiv {
  width: 100%;
  min-height: 75px;
  border-bottom: 1px solid rgb(222, 222, 222);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 0;
}

.input {
  width: 75px;
  text-align: center;
  font: bold 20px 'Google Sans Text';
  margin: 0 10px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
  padding: 5px 5px;
}

input[type="range"] {
  width: 200px;
}


.bgn {
  height: 62px;
  background: white;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 8px;
  font: bold 35px 'Google Sans Text',century gothic;
}
.bgn:hover {
  background: rgb(240,240,240);
}
.bgn:active {
  background: rgb(220,220,220);
}
.btns {
  justify-content: space-around;
  border: none;
}

.disabledColor {
  color: rgb(150, 150, 150)
}

.color {
  display: flex;
  align-items: center;
}

.perlinCheck {
  display: flex;
  align-items: center;
  height: 50px;
}

.angle {
  justify-content: start;
}

.angle input {
  margin: 0 18px;
}

.perlinCheck > * {
  cursor: pointer;
  margin-right: 10px;
}

.perlinCheck > *:hover {
  color: blue;
}

.perlinCheck > *:active {
  color:#888;
}

#source {
    color:inherit;
    text-decoration: none;
    display: inline-flex;
    align-items:  baseline;
}


#source:hover :not(span) {
  text-decoration: underline;
}


#source svg {
  width: 25px;
  height: 25px;
}


input[type="color"]::-webkit-color-swatch {
  border: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

input[type="color"] {
  position: relative;
  width: 28px;
  height: 28px;
  border-radius: 14px;
  border: none;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin: 0 17px;
  transition: 0.15s ease-out;
}

input[type="color"]:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.1);
}



.ov {
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 1000px) {

    .bigCont {
        flex-direction: column;
    }
    .bigCont > * {
        width: fit-content;
    }
    .panel {
        width: 95%;
    }
    
}