@font-face {
    font-family: "Soehne";
    src: url("../../font/s4_thin.otf") format("opentype");
}
@font-face {
    font-family: "Soehne1";
    src: url("../../font/s2_bold.otf") format("opentype");
}

.cont {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;    
    height: 100vh;
    min-height: 500px;
}

#welcome {
    font: lighter 50px "Soehne";
    margin: 75px 0;
}
.algo {
    padding: 8% 8%;
}
ol {
    font: bold 30px "Soehne";
}
.gist {
    min-width: 100%;
}

.gist * {
    font-size: 14px
}

.gist_cont {
    display: flex;
    padding: 3% 0;
}
#source {
    color:inherit;
    text-decoration: none;
    display: inline-flex;
    align-items:  center;
    font: lighter 50px Soehne;
}

#source:hover :not(span) {
    text-decoration: underline;
}



@media screen and (max-width: 1000px){
    
    .cont {
        height: auto;
        flex-direction: column;
    }
    #welcome {
        max-width: 500px;
    }
    canvas {
        width: 80vw !important;
        height: 80vw !important;
    }
    .algo {
        padding: 0;
    }
}