body{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    /* COMBAK:  */
}

#app{
  display: flex;
  flex-direction: column;
}
.holder {
  margin-bottom: 25px;
}
.entry{
    background: rgba(59, 74, 107, .4);
    display: flex;
    justify-content: space-between;
}
.right {
  display: flex;
  justify-content: center;
  max-width: 50%;
  flex-grow: 1;
}
img {
  height: 100%
}
#date{
color: #f0d43a;
}
#content {
  display: flex;
  align-items: stretch;
}
label{
    display:block;
    font-size: 27px;
}

input{
    display:block;
    height: 60px;
    width: 320px;
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button{
    width: 400px;
    height: 100px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
}
button:hover {
  filter: grayscale(1);
}
button:active {
  filter: invert(1);
}
h1{
    font-size: 36px;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
