@font-face {
	font-family: "Soehne1";
	src: url("./s2_bold.otf") format("opentype");
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 20px 0;
}


.all_algos_cont {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	gap: 50px;
	width: 75%;
}


.algo_container {
	transition: 0.18s cubic-bezier(0.2, 0.6, 0.2, 1);
	border-radius: 2.5%;
	border: 1px solid transparent;
	position: relative;
	bottom: 0;
}

.algo_container:hover {
	border-color: rgb(170,170,170);
	bottom: 8px;
}

a {
	text-decoration: none;
}


.algo_inner_cont {
	width: 100%;
	height: 100%;
	color: inherit;
}


.algo_img {
	border-radius: 5% 5% 0 0;
	width: 95%;
	padding: 2.5%;
	padding-bottom: 0;
}


.algo_title {
	color: inherit;
	font: bold 22px "Soehne1";
	font: 500 22px "Source Code Pro";
	padding: 0 3%;
	margin: 4px 0;
}

.algo_desc_cont {
	color: inherit;
	padding-left: 3%;
	padding-right: 10%;
	padding-bottom: 20px;
	line-height: 1.35;
}

.algo_desc {
	font: 400 18px "Source code Pro";
	padding-bottom: 25px;
}


@media screen and (max-width: 700px) {
	.all_algos_cont {
		width: 90%;
	}
}